body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    padding: 50px;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="file"] {
    margin: 10px 0;
}

button {
    padding: 10px 20px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #4cae4c;
}

#result {
    margin-top: 20px;
}

button:disabled {
    background-color: #aaa;
    cursor: not-allowed;
}

/* Styles for icons */
.icon-button {
    font-size: 24px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #5cb85c;
    margin-right: 10px;
}

.icon-button:disabled {
    color: #aaa;
}

#progressBarContainer {
    width: 100%;
    background-color: #f3f3f3;
    border-radius: 5px;
    margin: 20px 0;
    display: none;
}

#progressBar {
    height: 20px;
    background-color: #5cb85c;
    width: 0%;
    border-radius: 5px;
}

#recordTime {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
}
